<label for="repo-url" class="bold-label">Repository URL (required)</label>
<input required id="git-repo-url" type="text" ng-model="config.url"
  placeholder="[sshuser@]example.com/my/repo.git">

<div>
  <h4>Caching</h4>
  <label class="checkbox">
    <input ng-model="config.cache" type="checkbox" ng-change="save()"> Cache the project data between runs
  </label>
</div>

<div class="auth-type">
  <h4>Repository Authentication</h4>

  <div class="btn-group control-group">
    <div class="btn" ng-model="config.auth.type" btn-radio="'ssh'">SSH</div>
    <div class="btn" ng-model="config.auth.type" btn-radio="'http'">HTTP</div>
    <div class="btn" ng-model="config.auth.type" btn-radio="'https'">HTTPS</div>
  </div>

  <div ng-show="config.auth.type === 'ssh'" class="control-group">
    <h5>SSH Keys</h5>

    <span class="help-text">
      Leave these blank to use the project's private and public keys
      (you can find those under the "General" tab).
    </span>

    <div id="ssh-keys" class="row-fluid">
      <div class="span6">
        <label for="git-private-key" class="bold-label">Private Key</label>
        <textarea id="git-private-key" ng-model="config.auth.privkey"></textarea>
      </div>

      <div class="span6">
        <label for="git-public-key" class="bold-label">Public Key</label>
        <textarea id="git-public-label" ng-model="config.auth.pubkey"></textarea>
      </div>
    </div>
  </div>

  <div ng-show="config.auth.type.indexOf('http') > -1" class="control-group">
    <h5>HTTP/HTTPS</h5>
    <label>
      <input type="text"
             ng-required="config.auth.type === 'https'"
             ng-model="config.auth.username"
             placeholder="Username">
    </label>
    <label>
      <input type="password"
             ng-required="config.auth.type === 'https'"
             ng-model="config.auth.password"
             placeholder="Password">
    </label>
  </div>
</div>

<button class='btn btn-primary' ng-show='page === "config"' ng-click="save()" ng-disabled="saving">Save</button>
