<label>
  <span>Url</span>
  <input type="text" ng-model="config.url" placeholder="example.com/my/repo.git">
</label>
<span class="help-text">Don't include "git@" or "https://".</span>
<label>
  <span>Display Url</span>
  <input type="text" ng-model="config.display_url" placeholder="http://example.com/my/repo">
</label>
<span class="help-block">
  The url to browse the repository (optional). If provided, the
  there will be a <i class="icon-code-fork"></i> link next to the
  project name.
</span>
<div class="auth-type">
  <label>Auth type</label>
  <label class="checkbox">
    <input name="authtype" ng-model="config.auth.type" type="radio" value="ssh"> ssh
  </label>
  <label class="checkbox">
    <input name="authtype" ng-model="config.auth.type" type="radio" value="https"> https
  </label>
</div>
<div ng-show="config.auth.type === 'ssh'">
  <span class="help-text">
    Leave these blank to use the project's private and public keys
    (you can find those under the "General" tab).
  </span>
  <label>Private Key</label>
  <textarea ng-model="config.auth.privkey"></textarea>
  <label>Public Key</label>
  <textarea ng-model="config.auth.pubkey"></textarea>
</div>
<div ng-show="config.auth.type === 'https'">
  <span class="help-text">Https auth</span>
  <label>
    <input type="text" ng-model="config.auth.username" placeholder="Username">
  </label>
  <label>
    <input type="password" ng-model="config.auth.password" placeholder="Password">
  </label>
</div>
<button ng-click="save()" ng-disabled="saving">Save</button>
